

.table td {
	padding: 7px;

	border-top: 1px solid #f2f2f2;
}
/* .card-title{
	margin-bottom: -5.35rem;
    margin-left: 400px;
} */

.dataTables_wrapper .dataTable .btn, .dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload, .ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload, .dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled, .dataTables_wrapper .dataTable .wizard > .actions a, .wizard > .actions .dataTables_wrapper .dataTable a {
    padding: 1.1rem 1rem;
    vertical-align: top;
}
.blockquote-footer {
    display: block;
    font-size: 130%;
    color: #868e96;
}